// Add your own custom styles here

a {
  &:not(.btn-outline-primary) {
    &:has(> img, i, picture) {
      &:hover {
        transition: 0.5s;
        opacity: 0.7;
      }
    }
  }
}

a {
  &:not(.btn-outline-primary) {
    &:has(> img, i, picture) {
      transition: 0.5s;
      opacity: 1;
    }
  }
}
