
{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section-sm">
    <div class="container">

      <div class="row">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>

      {{ range .RegularPages }}
        <div class="row">
          <h2 style="color: black">{{ .Title }}</h2>
          <div class="items-center text-center mt-5 rounded-lg bg-[#F0F4F9] px-5 py-5">
            <div class="flex">
              <iframe src="https://calendar.google.com/calendar/embed?src={{ .Params.Cid }}%40group.calendar.google.com&ctz=Europe%2FAmsterdam" width=1600 height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <br>
          <div class="items-center text-center mt-5">
            <a
            class="btn btn-primary"
            href="https://calendar.google.com/calendar/u/0/r?cid={{ .Params.Cid }}@group.calendar.google.com">
            Subscribe
            <i class="fa fa-arrow-right pl-2"></i>
            </a>
          </div>
        </div>
      {{ end }}

  </div>
  </section>
{{ end }}
