{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-left">
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
      <div class="row">
        <h2>CORE Organizations</h2>
        {{ range .RegularPages }}
          <div class="md:col-6 lg:col-4 mt-5">
            {{ partial "components/org-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
