{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <div class="container mt-10">
      <div class="row justify-center">
        <div class="lg:col-7 md:col-9 mb-8 text-center">
          <h1 class="mb-4 text-h3 lg:text-h1">
            {{ .title | markdownify }}
          </h1>
          <p class="mb-8">
            {{ .content | markdownify }}
          </p>
          {{ with .button }}
            {{ if .enable }}
              <a
                class="btn btn-primary"
                href="{{ .link | absURL }}"
                {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
  <!-- /Banner -->

  <div class="container">
    <div class="row justify-center">
      <div class="grid grid-cols-1 lg:gap-x-10 lg:grid-cols-3 place-content-center">
        <div id="logos-wheel" class="grid grid-cols-5 lg:col-span-2 gap-y-15">
          <div id="yrcss" class="content-center transform scale-100  translate-y-10 -rotate-12">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
          <div class="col-start-3 content-start transform scale-100 translate-y-5">
            <a href="https://sites.google.com/view/netplace/">
              {{ $image := resources.Get "images/organizations_logos/netplace_logo.png" }}
              <img id="netplace" src="{{ $image.RelPermalink }}" class="transition-transform duration-300 transform hover:scale-110" width="200" height="50">
              <!-- {{ partial "image" (dict "Src" "images/organizations_logos/netplace_logo.png" "Id" "netplace" "Class" "transition-transform duration-300 transform hover:scale-110") }} -->
            </a>
          </div>
          <div id="org3" class="col-start-5 content-center content transform scale-100 translate-y-10 rotate-12 ">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>

          <div></div>
          <div id="core" class="flex col-start-2 col-span-3 justify-center content-center">
              {{ $image := resources.Get "images/core_logos/core.svg" }}
              <img id="core" src="{{ $image.RelPermalink }}" class="" width="400">
          </div>
          <div></div>

          <div id="org4" class="content-start transform scale-100 -translate-y-10 -rotate-12">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
          <div id="org5" class="col-start-3 content-start transform scale-100 translate-y-10">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
          <div id="org6" class="col-start-5 content-start transform scale-100 -translate-y-10 rotate-12">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
        </div>

        <div class="items-center text-center mt-20 lg:mt-0">
          <h3>Upcoming events</h3>
          <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FRome&showPrint=0&mode=AGENDA&showDate=0&showNav=0&showTitle=0&showTabs=0&src=MzQ0ZGM1Y2Y1ZDZjZGQ0YTFlYTUyZWFmODJhZGNkNjRiMzUxNzZmMmMwODY4ZGY5ZWRjMzVlNmQ4NTI3OTE4ZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23AD1457" class="items-center border-none mt-5 mb-5" style="display:inline" height="600" frameborder="0" scrolling="no"></iframe>
          <br>
          <a
            class="btn btn-primary"
            href="calendar">
            Subscribe
            <i class="fa fa-arrow-right pl-2"></i>
          </a>
        </div>

      </div>
    </div>
  </div>

  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="svgContainer" style="margin: 50px 50px;">
    <svg id="svg1" style="overflow: visible;" width="0" height="0">
      <path id="edge-top-left" d="M0 0" stroke="#535353" fill="none" stroke-linecap="round" stroke-width="10px";/>
      <circle id="node-top-left" fill="#535353" cx="0" cy="0" r="14" />
      <path id="edge-top-center" d="M0 0" stroke="#535353" fill="none" stroke-linecap="round" stroke-width="10px";/>
      <circle id="node-top-center" fill="#535353" cx="0" cy="0" r="14" />
      <path id="edge-top-right" d="M0 0" stroke="#535353" fill="none" stroke-linecap="round" stroke-width="10px";/>
      <circle id="node-top-right" fill="#535353" cx="0" cy="0" r="14" />
      <path id="edge-bot-left" d="M0 0" stroke="#535353" fill="none" stroke-linecap="round" stroke-width="10px";/>
      <circle id="node-bot-left" fill="#535353" cx="0" cy="0" r="14" />
    </svg>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>

    function drawPath(svg, path, circle, startX, startY, endX, endY) {
      // get the path's stroke width (if one wanted to be  really precize, one could use half the stroke size)
      var stroke =  parseFloat(path.attr("stroke-width"));
      // check if the svg is big enough to draw the path, if not, set heigh/width
      if (svg.attr("height") <  endY)                 svg.attr("height", endY);
      if (svg.attr("width" ) < (startX + stroke) )    svg.attr("width", (startX + stroke));
      if (svg.attr("width" ) < (endX   + stroke) )    svg.attr("width", (endX   + stroke));

      // draw tha pipe-like path
      // 1. move a bit down, 2. arch,  3. move a bit to the right, 4.arch, 5. move down to the end
      path.attr("d",  "M "  + startX + "," + startY +
                      " L " + endX + "," + endY
                  );
      circle.attr("cx", endX);
      circle.attr("cy", endY);
    }

  function connectElements(svg, path, circle, startElem, endElem) {
      var svgContainer = $("#svgContainer");
      // get (top, left) corner coordinates of the svg container
      var svgTop  = svgContainer.offset().top;
      var svgLeft = svgContainer.offset().left;
      // get (top, left) coordinates for the two elements
      var startCoord = startElem.offset();
      var endCoord   = endElem.offset();

      // calculate path's start (x,y)  coords
      // we want the x coordinate to visually result in the element's mid point
      var startX = startCoord.left + 0.5 * startElem.outerWidth() - svgLeft;    // x = left offset + 0.5*width - svg's left offset
      var startY = startCoord.top + 0.5 * startElem.outerHeight() - svgTop;        // y = top offset + height - svg's top offset

      endLeft = endCoord.left - svgLeft;
      endMid = endLeft + 0.5 * endElem.innerWidth();
      endRight = endLeft + endElem.innerWidth();
      minXDist = Math.min(Math.abs(startX - endLeft), Math.abs(startX - endMid), Math.abs(startX - endRight))
      if(minXDist == Math.abs(startX - endLeft)) {
          endX = endLeft;
      } else if (minXDist == Math.abs(startX - endRight)) {
          endX = endRight;
      } else {
          endX = endMid;
      }

      endTop = endCoord.top - svgTop;
      endBot = endTop + endElem.innerHeight();// outerHeight();
      endIsBelowStartAtTop = Math.abs(startY - endTop) < Math.abs(startY - endBot);
      if(endIsBelowStartAtTop) {
          endY = endTop;
          slope = (endY - startY) / (endX - startX);
          startY = startY + 0.5 * startElem.outerHeight();
          startX = startX + (endY - startY) / slope;
          startY = startY + 50;
          endY = endTop - 20;
      } else {
          endY = endBot;
          slope = (endY - startY) / (endX - startX);
          startY = startY - 0.5 * startElem.outerHeight();
          startX = startX + (endY - startY) / slope;
          startY = startY;//- 50;
          endY = endBot;// + 20;
      }

      // call function for drawing the path
      drawPath(svg, path, circle, startX, startY, endX, endY);
    }

    function connectAll() {
        // connect all the paths you want!
        {{/*  connectElements($("#svg1"), $("#edge-top-left"), $("#node-top-left"), $("#core"), $("#yrcss"));
        connectElements($("#svg1"), $("#edge-top-center"), $("#node-top-center"), $("#core"), $("#netplace"));
        connectElements($("#svg1"), $("#edge-top-right"), $("#node-top-right"), $("#core"), $("#org3"));
        connectElements($("#svg1"), $("#edge-bot-left"), $("#node-bot-left"), $("#core"), $("#org4"));  */}}
        // connectElements($("#svg1"), $("#path3"), $("#core"),   $("#org2"));
        // connectElements($("#svg1"), $("#path4"), $("#core"),   $("#org3"));
        // connectElements($("#svg1"), $("#path5"), $("#core"),   $("#org4"));
    }

    $(document).ready(function() {
        // reset svg each time
        $("#svg1").attr("height", "0");
        $("#svg1").attr("width", "0");
        connectAll();
    });

    $(window).resize(function () {
        // reset svg each time
        $("#svg1").attr("height", "0");
        $("#svg1").attr("width", "0");
        connectAll();
    });

  </script>

{{ end }}
