{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <div class="container mt-10">
      <div class="row justify-center">
        <div class="lg:col-7 md:col-9 mb-8 text-center">
          <h1 class="mb-4 text-h3 lg:text-h1">
            {{ .title | markdownify }}
          </h1>
          <p class="mb-8">
            {{ .content | markdownify }}
          </p>
          {{ with .button }}
            {{ if .enable }}
              <a
                class="btn btn-primary"
                href="{{ .link | absURL }}"
                {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                {{ .label }}
                <i class="fa fa-arrow-right pl-2"></i>
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
  <!-- /Banner -->

  <div class="container">
    <div class="row justify-center">
      <div class="grid grid-cols-1 lg:gap-x-10 lg:grid-cols-3 place-content-center">
        <div id="logos-wheel" class="grid grid-cols-5 lg:col-span-2 gap-y-15">
          <div id="yrcss" class="content-center transform scale-100  translate-y-10 -rotate-12">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
          <div class="col-start-3 content-start transform scale-100 translate-y-5">
            <a href="https://sites.google.com/view/netplace/">
              {{ $image := resources.Get "images/organizations_logos/netplace_logo.png" }}
              <img id="netplace" src="{{ $image.RelPermalink }}" class="transition-transform duration-300 transform hover:scale-110" width="200" height="50">
              <!-- {{ partial "image" (dict "Src" "images/organizations_logos/netplace_logo.png" "Id" "netplace" "Class" "transition-transform duration-300 transform hover:scale-110") }} -->
            </a>
          </div>
          <div id="org3" class="col-start-5 content-center content transform scale-100 translate-y-10 rotate-12 ">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>

          <div></div>
          <div id="core" class="flex col-start-2 col-span-3 justify-center content-center">
            <a href="about">
              {{ $image := resources.Get "images/core_logos/core.svg" }}
              <img id="core" src="{{ $image.RelPermalink }}" class="transition-transform duration-300 transform hover:scale-110" width="400">
            </a>
          </div>
          <div></div>

          <div id="org4" class="content-start transform scale-100 -translate-y-10 -rotate-12">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
          <div id="org5" class="col-start-3 content-start transform scale-100 translate-y-10">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
          <div id="org6" class="col-start-5 content-start transform scale-100 -translate-y-10 rotate-12">
            <a href="https://yrcss.cssociety.org/">
              {{ partial "image" (dict "Src" "images/organizations_logos/yrCSS.svg" "Class" "transition-transform duration-300 transform hover:scale-110") }}
            </a>
          </div>
        </div>

        <div class="items-center text-center mt-20 lg:mt-0">
          <h3>Upcoming events</h3>
          <div class="flex">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FRome&showPrint=0&mode=AGENDA&showDate=0&showNav=0&showTitle=0&showTabs=0&src=MzQ0ZGM1Y2Y1ZDZjZGQ0YTFlYTUyZWFmODJhZGNkNjRiMzUxNzZmMmMwODY4ZGY5ZWRjMzVlNmQ4NTI3OTE4ZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&bgcolor=%23ffffff&color=%23ffffff" class="items-center border-none mt-5 mb-5 inline flex-1" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
          <br>
          <a
            class="btn btn-primary"
            href="calendar">
            Subscribe
            <i class="fa fa-arrow-right pl-2"></i>
          </a>
        </div>

      </div>
    </div>
  </div>

  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
